@google-font 'Syne+Mono' 400 latin;
@google-font 'PT+Sans+Narrow' 400,700; 
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

* {
    font-family: 'PT Sans Narrow', cursive;
}
header h1 {
    font-family: 'Syne Mono', cursive;
}

button{
    &:focus {
        outline:0;
    }
    &:hover {
        transform: scale(1.025);
        filter: brightness(90%);
    }
}

.height-fit-content {
    height: auto;
    height: fit-content;
}
.box-shadow {
    box-shadow: 2px 2px 6px black;
}
.text-shadow {
    text-shadow: 0 0 10px black;
}
.drop-shadow {
    filter: drop-shadow(2px 2px 6px black);
}

.clickable.scale:hover {
    transform: scale(1.025);
    filter: brightness(90%);
}

.portada {
    position: relative;
    div {
        box-shadow: 2px 2px 6px black;
        padding-top: 154%; //To keep aspect ratio
    }
    img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}