@google-font 'Syne+Mono' 400 latin;
@google-font 'PT+Sans+Narrow' 400,700;

/*VARIABLES*/
$breakpoint-phone: 580px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-big: 1200px;

$gray-extra-dark-color: #333333;
$gray-dark-color: #424242;
$gray-light-color: #b9b9b9;
$gray-extra-light-color: #dcdcdc;
$highlighted-color: #BF8B66;

/*REVERT DEFAULT*/
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html,body,
h1,h2,h3,h4,h5,h6,
ul,
p {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    &:hover {
        color: $highlighted-color;
    }
}
button{
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    &:focus {
        outline:0;
    }
    &:hover {
        transform: scale(1.025);
        filter: brightness(90%);
    }
}
.fa-quote-right {
    margin-left: 1rem;
}
.fa-quote-left {
    margin-right: 1rem;
}

/*USEFUL CLASSES*/
.page-width {
    margin:0 auto;
    width: 100%;
    max-width: $breakpoint-phone;
    @media (min-width:$breakpoint-tablet) {
        max-width: $breakpoint-tablet;
    }
    @media (min-width:$breakpoint-desktop) {
        max-width: $breakpoint-desktop;
    }
    @media (min-width:$breakpoint-big) {
        max-width: $breakpoint-big;
    }
}
.page-section {
    padding: 3rem 1.5rem;
    @media (min-width:$breakpoint-desktop) {
        padding: 2.5rem 1.5rem;
    }
    h2.title {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        @media (min-width:$breakpoint-desktop) {
            font-size: 2.25rem;
        }        
    }
    h3.subtitle {
        font-size: 1.125rem;
        margin-bottom: 1.5rem;
        @media (min-width:$breakpoint-desktop) {
            font-size: 1.5rem;
        }
        &.small {
            font-size: 0.875rem;
            @media (min-width:$breakpoint-desktop) {
                font-size: 1.125rem;
            }            
        }        
    }
}
.grid { 
    display: grid;
    grid-gap: 20px;
    &.g-200 {
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    &.g-250 {        
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
    &.g-min-2 {
        @media (max-width:$breakpoint-phone) {
            grid-template-columns: 1fr 1fr
        }
    }
    &.g-fixed {
        grid-template-columns: repeat(2,1fr);
        @media (min-width:$breakpoint-tablet) {
            grid-template-columns: repeat(4,1fr);
        }
        @media (min-width:$breakpoint-desktop) {
            grid-template-columns: repeat(5,1fr);
        }
    }
    &.g-fixed-3 {
        grid-template-columns: repeat(1,1fr);
        @media (min-width:$breakpoint-tablet) {
            grid-template-columns: repeat(3,1fr);
        }
    }
}
.clickable {
    cursor: pointer;
    &.scale:hover {
        transform: scale(1.025);
        filter: brightness(90%);
    }
}
.portada {
    position: relative;
    div {
        box-shadow: 2px 2px 6px black;
        padding-top: 154%; //To keep aspect ratio
    }
    img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &-title {
        text-align: center;
        padding-top: 0.5rem;
    }
}
.btn {    
    padding: 0.75rem 2.5rem;
}

/*QUICK INLINE CLASSES*/
.hidden {
    display: none;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.centered {
    text-align: center;
}
.margin {
    margin: 1.5rem;
    &-v {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    &-h {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    &-x2 {
        margin: 2.5rem;
    }
}
.padding {
    padding: 1.5rem;
    &-v {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    &-h {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    &-x2 {
        padding: 2.5rem;
    }
}
.no-padding-top {
    padding-top: 0;
}
.relative {
    position: relative;
}
.box-shadow {
    box-shadow: 2px 2px 6px black;
}
.text-shadow {
    text-shadow: 0 0 10px black;
}
.drop-shadow {
    filter: drop-shadow(2px 2px 6px black);
}
.rounded {
    border-radius: 0.375rem;
}
.expanded .expand-item {
    display: block;
}

/*LOADING*/
#loading {
    z-index: 999999;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.95);
    animation: totally-disappear 0.2s linear forwards 1s;


    div {
        width: 145px;        
        height: 100px;
        position: fixed;
        top: calc(50% - 50px);
        left: calc(50% - 75px);

        img {
            &.closed {    
                position: absolute;
                right: 0;
                animation: flip 0.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards 0.5s,
                           disappear 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards 0.5s;                  
            }
            &.opened {
                opacity: 0;
                animation: appear 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards 0.5s;                
            }
        }
        hr {
            position: absolute;
            left: 0;
            bottom: -25px;
            animation: width-increase 0.75s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards 0.25s; 
        }
    }
}


@import 'fonts.scss';
@import 'animations.scss';
@import 'colors.scss';
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';