@google-font 'Syne+Mono' 400 latin;
@google-font 'PT+Sans+Narrow' 400,700; 
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'PT Sans Narrow', cursive;
}
header h1 {
    font-family: 'Syne Mono', cursive;
}

button{
    &:focus {
        outline:0;
    }
    &:hover {
        transform: scale(1.025);
        filter: brightness(90%);
    }
}


.home-block {
    h1 {
        color: #424242;
    }
}
@media (min-width: 768px){
    .home-block {
        padding-top: 90px;
    }
}

.button-scroll {
    color: #b9b9b9;
    text-shadow: 0 0 10px black;
}

.portada {
    position: relative;
    div {
        box-shadow: 2px 2px 6px black;
        padding-top: 154%; //To keep aspect ratio
        &.shadow-white {
            box-shadow: 2px 2px 6px white;
        }
    }
    img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    &.clickable:hover {
        transform: scale(1.025);
        filter: brightness(90%);
    }
}